<%- include("header") -%>

<html>
    <head>
        <title> Le projet de Zakaria </title>
        <%= ExerciceListTest %> 
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        <title>Ici seront listés les entrainements</title>
        
    </body>
</html>