<!-- Footer -->
<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Workout App</h5>

        <p>
          Cette Application Web a été conçue par Azzahid Zakaria, apprenti Business Analyst dans le cadre du cours d'Architecture Web, dispensé au sein du Master
          de Business Analyst co-organisé par l'ICHEC et l'ECAM. Ce cours a pout but de développer mes compétences en développement Web.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Réseau sociaux</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://www.facebook.com/zakaria.azzahid/" class="text-dark">Facebook</a>
          </li>
          <li>
            <a href="https://twitter.com/azzahidzak" class="text-dark">Twitter</a>
          </li>
          <li>
            <a href="https://www.instagram.com/zakariaazzahid/?hl=fr" class="text-dark">Instagram</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/zakaria-azzahid-8b8559106/?originalSubdomain=be" class="text-dark">linkedin</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Liens</h5>

        <ul class="list-unstyled">
          
          <li class="nav-item">
            <a class="nav-link" href="/index">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/exerciceList">Liste des exercices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/entrainement">Liste des entraînements</a>
          </li>
          
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-dark" href="https://www.linkedin.com/in/zakaria-azzahid-8b8559106/?originalSubdomain=be"> AZZAHID ZAKARIA</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

  