<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Workout App</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/image/Logo.png">

  <!-- JS Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</head>

<body>

  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">  <img src="/Image/Logo.png" width="15%" > Workout App</a>
      <!-- <a class="navbar-brand" href="/"> <img src="/Image/Logo.png" width="30%" > </a> -->
      
      <div class=" " id="navbarSupportedContent"> 
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item">
          <a class="nav-link" href="/index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/exerciceList">Liste des exercices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/entrainement">Liste des entraînements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/AddExercice">Ajoutez un exercice</a>
          
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/addEntrainement">Ajoutez un entrainement</a>
        
      </li>

      

        
      </div>
        
      </ul>
    </nav>

    
    </body>

</html>