
<!--
fichier html ou je peux mettre du balisage ou ce sera du JS
-->

<html>
    <head>
        <title> Le projet de Zakaria </title>
        <%= name %> 
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        
    </body>
</html>


<% for(let i = 0 ; i < 3 ; i++)  { %>
    <p>ejs is easy</p>
<% } %>