
<!--
fichier html ou je peux mettre du balisage ou ce sera du JS
-->

<%- include("header") -%>
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Le projet de Zakariaaa</title>
</head>


<body>


    <section class="accueil" id="accueil">

        <div class="container acc1">
          
            <div class="row">
              <div class="col-xl-12">
                
                
                <h3 style="text-align: center; " class="display-3">Bienvenu sur la Workout App !</h3>
    
                <p style="text-align: center;"> Utilisez cette Application pour crééer vos exercices personnalisés et ensuite, rassemblez les dans des entrainements !</strong>
                </p>
            </div>
          </div>
        </div>

        
        <img src="/Image/test.jpg" >
    
        <center><a type="button" class="btn btn-primary" href="#about">En savoir plus</a></center>
    
      </section>

<% for(let i = 0 ; i < 3 ; i++)  { %>
    <p>ejs is easy</p>
<% } %>


<a href="/addExercice"> Lien vers la page ou l'on pourra ajouter un exo</a> <br>

<a href="/exerciceList"> Lien ou se trouvera la liste des exercices </a> <br>
<a href="/entrainement"> Lien on l'on pourra créer des entrainements </a> <br>

</body>
<%- include("footer") -%>
 </html>